body {
    margin:0;
    padding:0;
    background-image: url("проект_3.png");
    -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color:beige;
    height: 100%;

}

html {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: center;
}


.main {

    flex-grow: 1;
}

.footer-title{
    position: relative;
    height: 45px;
    color:  rgb(21, 19, 29) ;
    text-align: center;
    padding: 4px;
    background-color: rgb(21, 19, 29) ;

}



.Logo, .Top_menu{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.Top_menu li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.Top_menu a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:aliceblue;
    text-decoration: none;
    vertical-align: middle;
}

.Top_menu a:hover {
    color: #db2c1f;
}


.Logo h1{
    vertical-align: middle;
    color:aliceblue;
    text-decoration: none;
    vertical-align: middle;
}

.Logo a {
    color:beige;
    text-decoration: none;
    vertical-align: middle;

}

.information-us{
    margin-top: 10px;
   

}

.opisanie {
    width: 80%;
    margin: 5px auto;
    background: rgba(51, 50, 50, 0.95);
    color: beige;
    padding: 15px;
    font-family: Georgia, serif;
    text-align: left;
    font-size: 18px;
    text-transform: none;
    border-radius: 8px;
}

.characters-wrap{
    width: 475px;
    height: 600px;
    margin: 30x auto;
    background: rgba(51, 50, 50, 0.95);
    padding: 15px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.characters{
    position: relative;
    overflow: hidden;
}

.about-us{
    width: 80%;
    margin: 10px auto;
    background: rgba(99, 98, 98, 0.95);
    color: beige;
    padding: 15px;
    font-family: Georgia, serif;
    text-align: left;
    font-size: 18px;
    text-transform: none;
    border-radius: 8px;

}

li {
    list-style-type: none; 
    margin-bottom: 1em;
   }

li span{
    color: rgb(153, 137, 99);
}